@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/LatoLatin-Light.woff2') format('woff2'),
        url('fonts/LatoLatin-Light.woff') format('woff');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/LatoLatin-LightItalic.woff2') format('woff2'),
        url('fonts/LatoLatin-LightItalic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('fonts/LatoLatin-Regular.woff2') format('woff2'),
        url('fonts/LatoLatin-Regular.woff') format('woff');
    font-weight: bold;
}
