@import 'normalize.css/normalize';

@import 'colors';
@import 'backgrounds';
@import 'fonts';
@import 'header';
@import 'sizes';


body {
    font-family: "Lato-Light", Helvetica, sans-serif;
    margin: 0;
}

div :first-child {
    margin-top: 0;
}

div :last-child {
    margin-bottom: 0;
}

section {
    background-repeat: no-repeat;
}

section>div {
    padding: 64px 32px;
}

@media screen and (min-height: $breakpoint) {
    section>div {
        min-height: 400px;
    }
}

small {
    font-size: 0.8em;
}

h2 {
    font-size: 2.25em;
    font-weight: normal;
}

h3 {
    font-size: 2em;
    font-weight: normal;
    display: inline-block;
    margin: 32px 0 16px 0;
}

@mixin flyin-transition {
    opacity: 0;
    transition: 0.5s;
    transition-timing-function: ease-out;
}

.flyin {
    &>h3 {
        @include flyin-transition;
        transform: translate(-150px, 0px);
    }

    &>p, &>li {
        @include flyin-transition;
        transform: translate(0, 150px);
    }
}

.flyin.flyin-show {
    &>h3, &>p, &>li {
        opacity: 1;
        transform: none;
    }
}

a {
    color: $col_light_blue;
    text-decoration: none;
}

a:visited {
    color: $col_dark_blue;
}

a:hover {
    color: $col_pink;
}

p {
    max-width: $pwidth;
}

p, h3, .group {
    padding: 8px;
    background-color: $col_translucent;
}

.group p, .group h3 {
    padding: 0;
    background-color: transparent;
}


ul.cards>li {
    width: 400px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
}

ul.cards.background>li {
    padding-top: 64px;
    background-attachment: top;
    background-size: contain;
}

ul.cards.background>li.nobg {
    padding-top: 0;
}

ul.cards.icon>li {
    width: 120px;
    text-align: center;

    a {
        color: #000;
        transition: 0.2s;
    }

    a:hover {
        color: $col_light_blue;
    }
}

@media screen and (min-width: $breakpoint) {
    ul.cards>li {
        margin-left: 0;
        margin-right: 64px;
    }

    ul.cards.background>li.nobg {
        padding-top: 64px;
    }
}

ul.cards.wide>li {
    width: $pwidth;
}


.authorme {
    font-weight: bold;
}

.detail {
    margin: 2px;
    font-size: 0.8em;
}

.inline {
    list-style-type: none;
    padding: 0;

    li {
        display: inline;
    }

    li:before {
        content: ", ";
    }

    li:first-child:before {
        content: "";
    }
}

ul.cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


.collapsible {
    transition: 0.2s ease-out;
    overflow: hidden;
}

button.expand {
    margin-top: 8px;
    width: 100%;
    border: none;
    background-color: transparent;
    height: 24px;
    font-size: 1.25em;
    transition: 0.2s;
}

button.expand:hover {
    background-color: $col_light_blue;
    color: #fff;
    cursor: pointer;
}

.nowrap {
    white-space: nowrap;
}
