<!DOCTYPE html>
<html lang="{{ .Language }}">
    <head>
        <meta charset="utf-8"/>
        {{ block "title" . }}
            <title>{{ .Site.Title }}</title>
        {{ end }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ block "css" . }}
            {{ $sass := resources.Get "scss/main.scss" }}
            {{ $style := $sass | resources.ToCSS (dict "targetPath" "main.css" "outputStyle" "compressed" "includePaths" (slice "node_modules")) | fingerprint }}
            <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
        {{ end }}
        {{ readFile "/assets/meta.html" | safeHTML }}
        {{ partial "script.main.js.html" . }}
        {{ block "head" . }}
        {{ end }}
        <noscript>
<style>
.flyin>h3, .flyin>p, .flyin>li {
    opacity: 1;
    transform: none;
}
</style>
        </noscript>
    </head>
    <body>
        {{ block "body" . }}
        {{ end }}
        <footer>
            <ul>
                {{ with .Sites.First.GetPage "/legal/privacy" }}
                    <li><a href="{{ .RelPermalink }}">Privacy policy</a></li>
                {{ end }}
                {{ with .Sites.First.GetPage "/legal/disclosure" }}
                    <li><a href="{{ .RelPermalink }}">Legal notice</a></li>
                {{ end }}
            </ul>
        </footer>
    </body>
</html>
