---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import AboutSection from "../components/AboutSection.astro";
import Section from "../components/Section.astro";
import { headerCssVars } from "../components/header";
import Project from "../components/Project.astro";

const aboutSections = await getCollection("about");
const renderedAboutSections = await Promise.all(
  aboutSections.map(async (section) => ({
    data: section.data,
    rendered: await section.render(),
  }))
);

const projects = await getCollection("projects");
const renderedProjects = await Promise.all(
  projects.map(async (project) => ({
    data: project.data,
    rendered: await project.render(),
  }))
);
---

<Layout title="Welcome to Astro.">
  <Header />
  <a id="about"></a>
  <main>
    {
      renderedAboutSections.map(({ rendered: { Content }, data }) => (
        <AboutSection {...data}>
          <Content />
        </AboutSection>
      ))
    }
    <Section>
      <a id="projects"></a>
      <h2>Projects</h2>
      <ul class="cards flyin">
        {
          renderedProjects.map(({ rendered: { Content }, data }) => (
            <Project {...data}>
              <Content />
            </Project>
          ))
        }
      </ul>
    </Section>
  </main>
</Layout>

<style define:vars={headerCssVars}>
  @media screen and (min-width: 600px) {
    main {
      padding-top: var(--header-large-height);
    }
  }

  ul.cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
</style>
