---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Section from '../components/Section.astro';

const aboutSections = await getCollection('about');

---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		{aboutSections.map(({ body, data }) => (
			<Section {...data}>{body}</Section>
		))}
	</main>
</Layout>

<style>
</style>
