---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} target="_blank" rel="noopener">
  <span class="nowrap">
    <i class="fa-solid fa-up-right-from-square"></i>
  </span>
   &nbsp;<slot /></a
>

<style>
  .nowrap {
    white-space: nowrap;
  }
</style>
