---
---

<footer>
    <ul>
        <li><a href="">Privacy policy</a></li>
        <li><a href="">Legal notice</a></li>
    </ul>
</footer>
<style>
    footer {
        background-color: var(--col-dark-gray);
        color: #fff;
        font-size: 0.8em;
    }

    a, a:visited {
        color: #fff;
    }

    a:hover {
        color: #fff;
        text-decoration: underline;
    }

    ul {
        margin: 0;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 16px;

        li {
            margin: 0 16px;
        }
    }
</style>