---
import { Image } from "astro:assets";
import headshot from '../assets/img/headshot.jpg'
import { headerCssVars } from "./header";
---

<header>
    <Image src={headshot} alt="Portrait of Jan Gosmann" width={256} height={256} quality={90} id="headshot" />
    <div>
        <h1>
            <small>Hello, my name is</small> <span class="name">Jan Gosmann</span>
        </h1>
        <nav>
            <ul>
                <li><a href="#about">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#publications">Publications</a></li>
                <li><a href="#contact">Social Media</a></li>
            </ul>
        </nav>
    </div>
    <div id="minmenu"><i class="fas fa-bars"></i></div>
</header>

<script>
    import { headerLargeHeight } from './header';

    const controlHeaderSize = () => {
        const header = document.querySelector("header");
        if (!header) return;

        const setHeaderSize = () => {
            let scrollpos = window.scrollY;
            if (scrollpos >= headerLargeHeight) {
                header.classList.remove("header-large");
            } else {
                header.classList.add("header-large");
            }
        };

        window.addEventListener("scroll", setHeaderSize);
        setHeaderSize();
    }
    
    if (document.readyState === "loading") {
        window.addEventListener("load", controlHeaderSize);
    } else {
        controlHeaderSize();
    }
</script>

<style lang="scss" define:vars={headerCssVars}>
header {
    text-align: center;
    padding: 24px 0;
    background-color: #fff;
    width: 100%;

    nav {
        position: fixed;
        transition: top 0.5s ease-in-out;
        top: -100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        font-size: 1.25em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 4px;
        }

        li {
            display: block;
            white-space: nowrap;

            a, a:visited {
                display: block;
                padding: 8px;
                line-height: 44px;
                color: #000;
                text-decoration: none;
                transition: 0.2s;
            }

            a.active {
                background-color: var(--col-dark-gray);
                color: #fff;
            }

            a:hover {
                background-color: var(--col-light-blue);
                color: #fff;
            }
        }
    }

    h1 {
        margin: 0 0;
        font-size: 2.5em;
        font-weight: normal;
        padding: 8px;

        small {
            font-size: 0.6em;
        }

        .name {
            display: block;
        }
    }

    #headshot {
        border-radius: 50%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
        border: 1px solid white;

        width: 128px;
        height: 128px;
        position: relative;
    }
}

#minmenu {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 1.25em;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 0 4px;
    cursor: pointer;

    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#minmenu:hover {
    color: var(--col-light-blue);
}


@media screen and (min-width: 600px) {
    header {
        --head-def-height: 60px;

        padding: 0;
        position: fixed;
        height: var(--head-def-height);
        display: flex;
        align-items: flex-end;
        color: var(--col-dark-gray);
        text-align: left;

        nav {
            display: block;
            position: relative;
            top: 0;
            box-shadow: none;

            li {
                display: inline-block;
            }
        }

        h1 .name {
            display: inline-block;
        }

        #headshot {
            width: 80px;
            height: 80px;
            top: 30px;
            margin: 24px;
        }
    }

    header.header-large {
        height: var(--header-large-height);

        #headshot {
            width: var(--header-large-height);
            height: var(--header-large-height);
        }
    }

    header, header>* {
        transition: 1s;
    }

    #minmenu {
        display: none;
    }
}
</style>