---

---

<section>
  <div>
    <slot />
  </div>
</section>

<style lang="scss">
  section {
    padding: 64px 32px;

    @media screen and (min-height: 600px) {
      & > div {
        min-height: 400px;
      }
    }

    &:nth-child(odd) {
      background-color: var(--col-pale-blue);
    }
  }
</style>
