<!DOCTYPE html>
<html>
    <head>
        <title>Jan Gosmann</title>
        <link rel="stylesheet" href="style.css" />
        <script defer src="js/main.js"></script>
    </head>
    <body>
        <header>
            <img src="headshot.jpg" alt="Headshot" id="headshot" />
            <div>
                <h1 ><small>Hello, my name is</small> Jan Gosmann</h1>
                <nav>
                    <ul>
                        <li><a href="#about" >About Me</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#publications">Publications</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#contact">Social Media &amp; Contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main id="about">
            {{ range sort ((.Site.GetPage "page" "about").Resources.Match "*.md") "Name" }}
                <section style="background-image: url({{ .Params.background }});{{ safeCSS .Params.style }}">
                    <div>
                        <h3><small>{{ .Params.leadTitle }}</small><br />{{ .Title }}</h3>
                        {{ .Content }}
                    </div>
                </section>
            {{ end }}
            <section id="projects">
                <div>
                    <h2>Projects</h2>
                    <ul class="cards background">
                        {{ range where .Site.RegularPages.ByWeight "Section" "projects" }}
                            <li style="background-image: url({{ .Params.background }});{{ safeCSS .Params.style }}">
                                <h3>{{ .Title }}</h3>
                                <div class="group">
                                    {{ .Content }}
                                    {{ if .Params.exturl }}
                                        <p><a href="{{ .Params.exturl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;More information</a></p>
                                    {{ end }}
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
            <section id="publications">
                <div>
                    <h2>Publications</h2>
                    <ul class="cards wide">
                        {{ range where .Site.RegularPages.ByDate.Reverse "Section" "publications" }}
                            <li>
                                <div class="group">
                                    <ol class="detail inline">
                                        {{ range .Params.authors }}<li>{{ . }}</li>{{ end }}
                                    </ol>
                                    <p class="detail">{{ .Params.journal }}, {{ .Params.year }}</p>
                                    <h3>{{ .Title }}</h3>
                                    <div class="collapsible">
                                        {{ .Content }}
                                        <ul class="inline">
                                            {{ if .Params.exturl }}
                                                <li><a href="{{ .Params.exturl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;More information</a></li>{{ end }}{{ if .Params.pdfurl }}<li><a href="{{ .Params.pdfurl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;PDF</a></li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    <button class="expand"></button>
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
            <section id="contact">
                <div>
                    <h2>Social Medial &amp; Contact</h2>
                </div>
            </section>
        </main>
        <script>
          const header = document.querySelector("header");
          const header_height = header.offsetHeight;

          const setHeaderSize = function() {
            let scrollpos = window.scrollY;
            if (scrollpos >= header_height) {
                header.classList.remove("header-large");
            }
            else {
                header.classList.add("header-large");
            }
          }

          window.addEventListener('scroll', setHeaderSize);
          setHeaderSize();
        </script>
        <script>
            const collapsibles = document.getElementsByClassName("collapsible");
            for (let i = 0; i < collapsibles.length; ++i) {
                let btn = collapsibles[i].nextElementSibling;
                collapsibles[i].classList.add("collapsed");
                btn.classList.add("collapsed");
                collapsibles[i].style.maxHeight = "0px";
                btn.addEventListener("click", function () {
                    if (collapsibles[i].classList.contains("collapsed")) {
                        collapsibles[i].style.maxHeight = collapsibles[i].scrollHeight + "px";
                    } else {
                        collapsibles[i].style.maxHeight = "0px";
                    }

                    btn.classList.toggle("collapsed");
                    collapsibles[i].classList.toggle("collapsed");
                });
            }
        </script>
    </body>
</html>
