<!DOCTYPE html>
<html>
    <head>
        <title>{{ .Site.Title }}</title>
        <link rel="stylesheet" href="style.css" />
        {{ readFile "/static/favicons/meta.html" | safeHTML }}
        <script defer src="js/bundle.js"></script>
    </head>
    <body>
        <header class="header-large">
            <img src="headshot.jpg" alt="Headshot" id="headshot" />
            <div>
                <h1 ><small>Hello, my name is</small> <span class="name">Jan Gosmann</span></h1>
                <nav>
                    <ul>
                        <li><a href="#about" >About Me</a></li>
                        <li><a href="#projects">Projects</a></li>
                        <li><a href="#publications">Publications</a></li>
                        <li><a href="#contact">Social Media</a></li>
                    </ul>
                </nav>
            </div>
            <div id="minmenu"><i class="fas fa-bars"></i><div>
        </header>
        <main id="about">
            {{ range sort ((.Site.GetPage "page" "about").Resources.Match "*.md") "Name" }}
                            <section style="{{ if .Params.background }}background-image: url({{ .Params.background }});{{end}}{{ safeCSS .Params.style }}" class="{{ if not .Params.background }}nobg{{ end }}">
                    <div>
                        <h3><small>{{ .Params.leadTitle }}</small><br />{{ .Title }}</h3>
                        {{ .Content }}
                    </div>
                </section>
            {{ end }}
            <section id="projects">
                <div>
                    <h2>Projects</h2>
                    <ul class="cards background">
                        {{ range where .Site.RegularPages.ByWeight "Section" "projects" }}
                        <li style="{{ if .Params.background }}background-image: url({{ .Params.background }});{{ end }}{{ safeCSS .Params.style }}" class="{{ if not .Params.background }}nobg{{ end }}">
                                <h3>{{ .Title }}</h3>
                                <div class="group">
                                    {{ .Content }}
                                    {{ if .Params.exturl }}
                                        <p><a href="{{ .Params.exturl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;More information</a></p>
                                    {{ end }}
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
            <section id="publications">
                <div>
                    <h2>Publications</h2>
                    <ul class="cards wide">
                        {{ range where .Site.RegularPages.ByDate.Reverse "Section" "publications" }}
                            <li>
                                <div class="group">
                                    <ol class="detail inline">
                                        {{ range .Params.authors }}{{ if eq . "Jan Gosmann" }}<li class="authorme">{{ . }}</li>{{ else }}<li>{{ . }}</li>{{ end }}{{ end }}
                                    </ol>
                                    <p class="detail">{{ .Params.journal }}, {{ .Params.year }}</p>
                                    <h3>{{ .Title }}</h3>
                                    <div class="collapsible">
                                        {{ .Content }}
                                        <ul class="inline">
                                            {{ if .Params.exturl }}
                                                <li><a href="{{ .Params.exturl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;More information</a></li>{{ end }}{{ if .Params.pdfurl }}<li><a href="{{ .Params.pdfurl }}" target="_blank"><span class="nowrap"><i class="fas fa-external-link-square-alt"></i></span>&nbsp;PDF</a></li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    <button class="expand"></button>
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
            <section id="contact">
                <div>
                    <h2>Social Media</h2>
                    <ul class="cards icon">
                        {{ range sort ((.Site.GetPage "page" "smaccount").Resources.Match "*.md") "Name" }}
                            <li>
                                <a href="{{ .Params.exturl }}">
                                    <i class="fab fa-{{ .Params.icon }} fa-fw fa-6x" style="display: block;"></i>
                                    <div>{{ .Params.title }}</div>
                                    <div>{{ .Params.handle }}</div>
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>
