---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<noscript>
	<style is:inline>
		.flyin>h3, .flyin>p, .flyin>li {
			opacity: 1;
			transform: none;
		}
	</style>
</noscript>
<style is:global>
	:root {
        --col-dark-blue: #3d5782;
		--col-dark-gray: #2b2c26;
		--col-light-blue: #336cc6;
		--col-pale-blue: #d5ddea;
		--col-pink: #dd16c9;
		--col-translucent: rgba(255, 255, 255, 0.9);
	}
</style>
